@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@200&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

b, strong {
  font-weight: 900;
}

header {
  width: 100vw;
  height: 40rem;
}
header .title {
  position: absolute;
  top: 20rem;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: rgba(0, 0, 0, 0.3137254902);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 2rem 5rem;
  border: 0.5rem solid white;
}
header .title * {
  line-height: 1;
}
header .title span {
  text-transform: uppercase;
  font-size: 2.6em;
  text-align: center;
}
header .title h1 {
  margin: 0;
  font-size: 7.4em;
  width: 100%;
  text-align: center;
}

.fluid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

button,
.btn {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  outline: none;
  color: white;
  font-size: inherit;
  text-decoration: none;
  font-family: inherit;
  line-height: inherit;
  display: block;
}

button:hover,
.btn {
  color: #343399;
  background-color: white;
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: #343399;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 10rem);
  padding: 0 5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1254901961);
  z-index: 1;
}
nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  list-style-type: none;
}
nav ul li {
  position: relative;
}
nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: small;
  padding: 0.75rem 1rem;
  height: 100%;
}
nav ul li i {
  margin-left: 0.5rem;
}
nav ul li ul.dropdown {
  display: none;
}
nav ul li ul.dropdown a {
  margin: 2px;
}
nav ul li:hover a {
  background-color: white;
  color: #343399;
}
nav ul li:hover ul.dropdown {
  overflow: visible;
  position: absolute;
  background-color: #343399;
  top: 100%;
  left: 0;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  display: unset;
}
nav ul li:hover ul.dropdown a:not(:hover) {
  background-color: #343399;
  color: white;
}
nav ul li.active {
  background-color: #4140bf;
}
nav .search {
  display: flex;
  place-items: center;
  position: relative;
}
nav .search .search-input {
  padding: 0.5rem;
  height: 100%;
  box-sizing: border-box;
  font-size: small;
  font-family: inherit;
  line-height: inherit;
}
nav .search button {
  margin: 2px;
  height: 100%;
  aspect-ratio: 1/1;
  width: -moz-max-content;
  width: max-content;
}
nav .search button i {
  width: -moz-min-content;
  width: min-content;
  font-size: small;
  height: 0;
}

main p {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.5843137255);
  font-size: large;
}
main section {
  padding: 7rem 10rem;
}
main section h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #343399;
  margin-bottom: 1rem;
  margin-top: 0;
}
main section h3 {
  margin-top: 0;
}
main .split {
  display: flex;
  gap: 1rem;
}
main .btn,
main button {
  background-color: #ff7d32;
  padding: 0.5rem 1.25rem;
  border: 2px solid #ff7d32;
  border-radius: 0.25rem;
  width: -moz-max-content;
  width: max-content;
  color: white;
}
main .btn:hover,
main button:hover {
  color: #ff7d32;
  background-color: white;
}
main .button-container {
  display: flex;
  place-content: space-between;
}
main .btn-danger {
  background-color: red;
  border: 2px solid red;
}
main .btn-danger:hover {
  color: red;
  background-color: white;
}
main .btn-neutral {
  background-color: #343399;
  border: 2px solid #343399;
}
main .btn-neutral:hover {
  color: #343399;
  background-color: white;
}
main #logout {
  position: fixed;
  top: 4rem;
  right: 2rem;
}
main #news {
  padding: 0;
  overflow-x: scroll;
}
main #news-cards {
  display: flex;
  gap: 2rem;
  width: -moz-max-content;
  width: max-content;
  background-color: #343399;
  padding: 5rem 10rem;
}
main .h2-containter {
  margin: auto;
}
main .h2-containter h2 {
  color: white;
  padding-right: 2rem;
}
main .h2-containter p {
  color: rgba(255, 255, 255, 0.8);
}
main .news-card {
  width: 25rem;
  height: 35rem;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow: hidden;
  border-radius: 0.5rem;
}
main .news-card .detail {
  min-height: 0;
  background-color: rgba(0, 0, 0, 0.1254901961);
}
main .news-card .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
main .news-card .content h3 {
  margin: 0.5rem 0;
}
main .news-card .content p {
  margin: 0.5rem 0;
  height: 8rem;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: scroll;
  line-height: 1.2;
  color: black;
  font-size: medium;
}
main .news-card .content .news-date {
  color: grey;
  font-size: small;
}
main .news-card:hover p {
  height: 22rem;
}
main #sporthal {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #eee;
}
main #sporthal .content {
  padding: 8rem 0 8rem 10rem;
}
main #info {
  background-color: #23303d;
}
main #overscroll {
  height: 180vh;
}
main form {
  height: -moz-max-content;
  height: max-content;
}
main form label {
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  z-index: 5rem;
  position: relative;
  color: #343399;
}
main form input, main form textarea {
  display: block;
  width: 100%;
  min-width: 20rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: 0.5px solid #343399;
  min-height: 1.5rem;
  padding: 0.5rem;
  font: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

#user {
  color: white;
  padding-left: 1rem;
  font-size: small;
}

#login {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr;
}
#login main {
  display: grid;
  place-items: center;
  margin: 0;
}
#login h2 {
  text-align: center;
  margin-bottom: 3rem;
}
#login .btn {
  margin-top: 3rem;
  margin: 0 auto;
}

#admin, #edit {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 2rem;
}
#admin form input,
#admin form textarea, #edit form input,
#edit form textarea {
  margin-bottom: 1rem;
}
#admin form .btn, #edit form .btn {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
}
#admin form .container, #edit form .container {
  position: relative;
}
#admin form textarea, #edit form textarea {
  padding-right: 2rem;
}
#admin form .content-toolbar, #edit form .content-toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1.5rem;
  right: 1rem;
}
#admin .card_detail, #edit .card_detail {
  background-color: #343399;
  border-radius: 1rem;
  overflow: hidden;
}
#admin .card_detail #news-cards, #edit .card_detail #news-cards {
  padding: 2rem;
}/*# sourceMappingURL=style.css.map */