{% extends "base.html" %}

{% block content %}
        <section id="admin">

            <div class="content">
                <h2>Add a News Article</h2>
                <form method="POST" action="{{ url_for('add_article') }}">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>

                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" required>

                    <label for="content">Content</label>
                    <textarea id="content" name="content" rows="4" cols="50" required></textarea>

                    <label for="image_url">Image URL</label>
                    <input type="text" id="image_url" name="image_url">

                    <label for="call_to_action_button">Button naam (optioneel)</label>
                    <input type="text" id="call_to_action_button" name="call_to_action_button">

                    <label for="call_to_action_link">Button link (optioneel)</label>
                    <input type="text" id="call_to_action_link" name="call_to_action_link">

                    <input type="submit" value="Add Article" class="btn">
                </form>
                <br>
                <a href="/logout" id="logout" class="btn btn-danger">Logout</a>
            </div>
            <div class="card_detail">
                <div id="news-cards">
                    <div class="news-card">

                        <div class="detail">
                            <img class="news-image fluid" id="image_output" src="#0" alt="">

                        </div>
                        <div class="content">
                            <span id="date_output" class="news-date"></span>
                            <h3 id="title_output" class="news-title"></h3>
                            <p id="content_output"></p>
                            <div class="button-container">
                                <a id="button_output" href="#0" class="btn" style="display: none;"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}