<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://kit.fontawesome.com/53f2769d4a.js" crossorigin="anonymous"></script>
	<title>BC 't slot</title>
</head>

<body>
	<header>
		<img class="fluid"
			src="https://images.unsplash.com/photo-1626224583764-f87db24ac4ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80"
			alt="">
		<div class="title">
			<span>Badminton Club</span>
			<h1>'t SLOT</h1>
		</div>

	</header>
	<nav>
		<ul>
			<li class="active"><a href="#0">Home</a></li>
			<li>
				<a href="#0">Clubinfo<i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown">
					<li><a href="#0">Over BC't slot</a></li>
					<li><a href="#0">Speeltijden</a></li>
					<li><a href="#0">Bestuur en Commissies</a></li>
					<li><a href="#0">Sporthal</a></li>
					<li><a href="#0">Statuten</a></li>
					<li><a href="#0">Sponsor Kliks</a></li>
				</ul>
			</li>
			<li><a href="#0">De Sport<i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown">
					<li><a href="#0">Spelregels</a></li>
					<li><a href="#0">Materialen</a></li>
					<li><a href="#0">Blessurepreventie</a></li>
					<li><a href="#0">Historie</a></li>
				</ul>
			</li>
			<li><a href="#0">Spelen<i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown">
					<li><a href="#0">Speeltijden</a></li>
					<li><a href="#0">Traning en Vrijsplen</a></li>
					<li><a href="#0">Competitie</a></li>
				</ul>
			</li>
			<li><a href="#0">Lidmaatschap</a></li>
			<li><a href="#0">Contact</a></li>
			<li><a href="#0">Kalender</a></li>
			{% if logged_in %}
			<li><a href="/admin">Admin</a></li>
			{% endif%}
		</ul>
		<form class="search">
			<input type="text" class="search-input" placeholder="Zoeken...">
			<button title="zoeken" type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"></i>
			</button>
			<button title="geavanceerd zoeken" type="submit" class="search-button"><i class="fa fa-gear"></i>
			</button>
		</form>
	</nav>
	<main>
		<section>
			<div class="split">
				<div class="content">
					<h2>Welkom bij BC 't Slot</h2>
					<p>
						Welkom bij Badmintonclub 't Slot, de grootste en gezelligste badmintonvereniging in Zeist! Sinds
						onze oprichting op 23 maart 1961 zijn we gegroeid van een klein clubje badmintonvrienden tot een
						bloeiende vereniging met bijna 100 leden. Bij ons vind je spelers van allerlei niveaus, van
						beginnende enthousiastelingen tot ervaren competitiepelers. Voor degenen die competitie willen
						spelen, zijn er trainingen om
						techniek, tactiek en conditie te verbeteren. Daarnaast zijn er tal van gezellige evenementen en
						toernooien voor jong en oud, waarbij plezier altijd voorop staat. </p>
					<div class="split"><button>Over de Club</button><button>Wordt lid</button></div>
				</div>
				<div class="detail">
					<h3 style="width: 100%; text-align: center;">Sponserclicks</h3>
					<div style="background-color: #ddd; width: 20rem; height: 17rem;"></div>
				</div>
			</div>
		</section>

		<section id="news">

			<div id="news-cards">
				<div class="h2-containter">
					<h2>Nieuws</h2>
					<p>scroll naar rechts <i class="fa-solid fa-arrow-right"></i></p>
				</div>
				{% for article in articles %}
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="{{ article[4] }}" alt="afbeeling kon niet laden">
					</div>
					<div class="content">
						<span class="news-date">{{ article[2] }}</span>
						<h3>{{ article[1] }}</h3>
						<p>{{ article[3] }}</p>
						{% if article[5] %}
						<div class="button-container">
							<a href="{{ article[6] }}" class="btn"§>{{ article[5] }}</a>
						</div>
						{% endif %}
					</div>
				</div>

				{% endfor %}
				<!-- zomerbadminton -->
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="https://www.bctslot.nl/file/801930/" alt="">
					</div>
					<div class="content">
						<span class="news-date">2 juni 2023</span>

						<h3 class="news-title">
							Zomerbadminton
						</h3>
						<p>Op 5 juni gaat ons zomerbadminton van start, er kan vanaf dan de hele zomer doorgespeeld
							worden
							op
							maandagavond van 19.45 - 21.45 uur. De laatste zomerbadmintonavond is 14 augustus. Ons
							nieuwe
							seizoen begint meteen na de zomervakantie, op maandag 21 augustus. We houden het simpel: wie
							de
							hele
							zomer mee wil doen op deze extra speelavonden betaalt een vast bedrag van € 35,- voor 11x
							spelen.
							Wil je alleen maar tot aan de zomervakantie, of juist alleen ín de zomervakantie, spelen,
							dan
							betaal
							je € 25,- voor 6x spelen. Lees op <a href="#0">deze pagina</a> hoe je je kunt aanmelden en
							betalen.
						</p>
						<div class="button-container">
							<button class="btn">Meld je aan</button>
						</div>
					</div>
				</div>
				<!-- familie toernoei inschrijving gesloten -->
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="https://www.bctslot.nl/file/99368/" alt="">
					</div>
					<div class="content">
						<span class="news-date">11 april 2023</span>

						<h3 class="news-title">
							Update Familietoernooi 2023: inschrijving gesloten
						</h3>
						<p>Ons Familietoernooi wordt dit jaar gespeeld op vrijdagavond 14 april, van 18.00 uur tot
							ongeveer 20.00 uur, natuurlijk in sporthal De Koppeling. Iedereen, jong en oud, kan meedoen
							en je wordt zoveel mogelijk ingedeeld naar sterkte.<b>
								We verwachten weer een gezellige drukte!
								We hebben het maximale aantal deelnemers bereikt, de inschrijving voor het toernooi is
								gesloten.
							</b>

						</p>
					</div>

				</div>
				<!-- familie toernoei inschrijving -->
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="https://www.bctslot.nl/file/99368/" alt="">
					</div>
					<div class="content">
						<span class="news-date">18 maart 2023</span>

						<h3 class="news-title">
							Familietoernooi 2023
						</h3>
						<p>Ook in 2023 organiseren we weer ons altijd gezellige Familietoernooi, dit jaar op
							vrijdagavond 14 april, van 18.00 uur tot ongeveer 20.00 uur, natuurlijk in sporthal De
							Koppeling. Iedereen, jong en oud, kan meedoen en je wordt zoveel mogelijk ingedeeld naar
							sterkte. Je kunt je opgeven samen met je zusje, broer, zoon, vriendinnetje, opa, nichtje,
							vader, vriend, achterbetoverstieftante, date, schoonzwager, vrouw, buurman, neefje, collega,
							pakketbezorger of ander 'familielid'. Heb je niemand om mee te spelen? Dan zoeken wij gewoon
							iemand voor je! Meedoen kost niks en er zijn vette prijzen te winnen.
							Opgeven kan met het inschrijfformulier in de zaal, of gewoon via onze website. <a
								href="#0">Klik hier</a>
							voor alle info.
						</p>
						<div class="button-container">
							<button class="btn">Schrijf je in</button>
						</div>
					</div>

				</div>
				<!-- Badminton rond de feestdagen -->
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="https://www.bctslot.nl/file/522682/" alt="">
					</div>
					<div class="content">
						<span class="news-date">24 december 2022</span>

						<h3 class="news-title">
							Badminton rond de feestdagen
						</h3>
						<p>Op 26 december (Tweede Kerstdag) is sporthal De Koppeling gesloten en is er dus geen
							badminton. Op de andere maandag- en donderdagavonden in december en januari kan er wel
							gewoon gespeeld worden. Bij de jeugd is het kerstvakantie: vrijdag 23 december was de
							laatste speelavond van 2022, de eerste speelavond in het nieuwe jaar is vrijdag 13 januari.
							Het nieuwe jaar wordt feestelijk geopend met een Champagnetoernooi op maandag 9 januari.
							Kijk op onze speelkalender, of volg ons op Facebook en Instagram, om te zien wat we in 2023
							verder allemaal nog in petto hebben!
						</p>

					</div>

				</div>
				<!-- Badminton rond de B.C. 't Slot viert feest -->
				<div class="news-card">
					<div class="detail">
						<img class="news-image fluid" src="https://www.bctslot.nl/file/916954/" alt="">
					</div>
					<div class="content">
						<span class="news-date">30 oktober 2022</span>

						<h3 class="news-title">
							B.C. 't Slot viert feest
						</h3>
						<p>Badmintonclub 't Slot is opgericht op 23 maart 1961 en dat betekent dat we in 2021 60 jaar
							bestonden. Door alle corona-toestanden konden we het vorig jaar niet vieren, maar we laten
							de kans op een feestje natuurlijk niet zomaar voorbijgaan! Daarom vieren we dit jaar alsnog
							ons 61-jarige jubileum.
							Op zondag 20 november organiseren we een spetterend Pretmintontoernooi. Het wordt een
							toernooi vól verrassingen, waar beginnende badmintonners minstens net zoveel kans maken om
							in de prijzen te vallen als ervaren spelers. Elk lid van B.C. 't Slot kan dus meedoen: jeugd
							en senioren, beginners en competitiespelers. Daarna staat er een heerlijk buffet klaar in de
							kantine en is er ook nog een spannende pubquiz. De inschrijving is geopend, klik <a
								href="#0">hier</a> voor
							alle info.


						</p>
						<div class="button-container">
							<button class="btn">Schrijf je in</button>
						</div>
					</div>

				</div>
			</div>

		</section>
		<section>
			<h2>Speeltijden</h2>
			<p>Op Badmintonclub 't Slot zijn er verschillende speeltijden, zodat iedereen de mogelijkheid heeft om te
				spelen. Hieronder vind je de speeltijden:</p>
			<h3>Maandag avond</h3>
			<p>Tijd: 19:45 - 21:45</p>
			<p>Op maandag kan je op 6 banen recreatie spelen en op 3 banen de training volgen</p>
			<h3>Donderdag avond</h3>
			<p>Tijd: 19:45 - 21:45</p>
			<p>Op donderdag kan je op 6 banen recreatie spelen</p>
			<h3>Vrijdag avond</h3>
			<p>Tijd: 18:00 - 21:00</p>
			<p>Op vrijdagavond is er jeugdtraining. De beginners spelen gedurende het eerste anderhalf uur (18:00 -
				19:30), daarna speelt de gevorderde jeugd tijdens het tweede anderhalf uur (19:30 - 21:00).</p>
			<p> Voor of na de training kunnen de kinderen vrij spelen, als er genoeg banen vrij zijn. </p>

		</section>
		<section id="sporthal">
			<div class="content">
				<h2>Sporthal</h2>
				<p>Sinds januari 2013 is onze thuisbasis sporthal De Koppeling, midden in de wijk De Clomp in
					Zeist-West, naast het winkelcentrum.
					De speelzaal ligt op de 1e verdieping en heeft 9 badmintonbanen.
					Op de begane grond zijn verder een moderne kantine en ruime kleedkamers aanwezig, 2 dames- en 2
					herenkleedkamers.
					De Clomp 1918 - 3704 KS Zeist
				</p>
			</div>
			<div class="detail"><iframe class="fluid"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d19611.642617689417!2d5.2235007!3d52.0896444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6680c3e9765b1%3A0xd69c4a0435382f76!2sBadmintonclub%20&#39;t%20Slot!5e0!3m2!1snl!2snl!4v1687016298161!5m2!1snl!2snl"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe></div>
		</section>

		<!-- <section id="info">
			<div class="split">
				<div><h3>Contact</h3><ul></ul></div>
			</div>
		</section> -->



	</main>
</body>

</html>